
# data/
# data/*
# !data/.gitkeep

data/Brain Cancer/
data/Brain Cancer/*

data/MNIST/
data/MNIST/*


.idea/
.idea/*


data/brain_cancer_dataset.pt
data/brain_cancer_dataset_small.pt

# All jupyter checkpoints
.ipynb_checkpoints/
.ipynb_checkpoints/*

