
# data/
# data/*
# !data/.gitkeep

data/brain_cancer/Brain Cancer/
data/leukemia/Original/

data/MNIST/
data/MNIST/*


.idea/
.idea/*


data/brain_cancer/brain_cancer_dataset.pt
data/brain_cancer/brain_cancer_dataset_small.pt

# All jupyter checkpoints
.ipynb_checkpoints/
.ipynb_checkpoints/*


BrainCancer.zip
data/BrainCancerDataset.pt
data/BrainCancerDotMat/
data/BrainCancerRawData/
data/BrainCancerDotMat/*
data/BrainCancerRawData/*
